//Variables
//images
$background1: "/img/bg.jpg";
$background2: "/img/bg2.jpg";
//colours
$black: #222;
$white: #fefefe;

//terminal symbol(space is not required)
$terminalBegin: "> ";

//breakpoints for media-queries
$breakpoint: 640px;

//Global configs
*
{
    font-family:Helvetica;
    color:#333;
}
head
{
	&:after{
		//TODO: Fix this if possible
		//adding viewport for mobile responsivness(WIP)
		content:"<meta name='viewport' content='width=device-width, initial-scale=1'>";
	}
}
body{
	margin:0;
	background-color:$white;
}

@mixin bannerSetup($img) {
	width:100%;
	padding:25vh 0;
	height:50vh;
    text-align:center;
    background-image:url($img);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
	h1 {
	    color:$white;
	    font-size:50pt;
	    text-shadow: 0px 0px 15px $black; 
	}
	h3 {
	    color:$white;
	    text-shadow: 0px 0px 15px $black; 
	}
	
}
//Banners include more at will
#banner { @include bannerSetup($background1); }
#banner2 { @include bannerSetup($background2) }

#terminal
{
	width: 80%;
    max-width:600px;
    margin: 0px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	//features
    border-radius: 10px;
	p {
	    font-family:Courier new, monospace;
	    padding-left:20px;
	    text-align:left;
	    background-color:$black;
	    color:$white;
	    padding-top:20px;
	    padding-bottom:20px;
		&:before
		{
			content:$terminalBegin;
		}
	}
}
//features
#features
{
	padding:5%;
    max-width:1000px;
    width:90%;
    margin:0 auto;
	overflow:auto;
	h1{
		text-align: center;
	}
	@mixin grid($divs) {
	    text-align:center;
	    float:left;
	    width: percentage(1/$divs);
	    margin:auto;
		.icon {
		    font-size:100pt;
		}
		@media screen and (max-width: $breakpoint)
		{
			float:none;
		}
	}
	
	//Add more at will
	.half { @include grid(2); }
	.third { @include grid(3); }
	.quarted { @include grid(4); }
	.fifth { @include grid(5); }
}

//Mobile breakpoint
@media screen and (max-width: $breakpoint)
{
	//Added into mixin
}