html
    head
        title Startup
        link(rel="stylesheet" href="css/startup.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        #banner
            h1 Title 
            h3 Amazing catchphrase 
            #terminal
                p $ sudo rm -r * 
        #features
            h1 Features
            .third
                i.icon.material-icons security
                h3 SSL 
                p Security is a big deal 
            .third
                i.icon.material-icons whatshot
                h3 Yeah we do stuff 
                p We viral 
            .third
                i.icon.material-icons devices_other
                h3 Responsive 
                p Css I guess 
        #banner
            h1 Title 
            h3 Amazing catchphrase 
            #terminal
                p $ sudo rm -r * 
