html
	head
		title Startup
		link(rel="stylesheet" href="css/startup.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		#banner
			h1 Startup.css
			h3 Another css micro-framework 
			#terminal
				p npm install startup.css 
		#features
			h1 Features
			.third
				i.icon.material-icons build
				h3 Customization 
				p Sass Customization	 
			.third
				i.icon.material-icons code
				h3 Tech focused 
				p All about that startup life 
			.third
				i.icon.material-icons devices_other
				h3 Responsive 
				p Grab your phone right now! 
			h3 This is startup css
			p Startup.css is a micro framework for making super quick static websites. For those times you need a quick amazing looking website. 
			h2 Secondary features
			.half
				i.icon.material-icons 3d_rotation
				h3 Parallax 
				p 3D is key 
			.half
				i.icon.fa.fa-code-fork
				h3 Open source
				p Fork us on github today 
				
		#footer
			h4 Startup.css
			a(href="https://github.com/pedsm/startup.css")
				i.fa.fa-github
			a(href="https://www.npmjs.com/package/startup.css")
				i.fa.fa-download
